.form {
    background-color: #aacfcf;
    margin-left: 34%!important;
    /* margin-right: 205px !important; */
    margin-top: 160px;
    text-align: center;
    width: 30%;
    height: 500px!important;
}

  .email{
    width: 223px;
    height: 40px;
    border-radius: 25px;
    margin-bottom: 20px;
    border:0;
}

.password {
    width: 223px;
    height: 40px;
    border-radius: 25px;
    border:0;
    margin-bottom: 40px;
    margin-top: 0px;
}
body{
    font-family: Segoe UI;
}
.btn-custom{
    width: 223px;
    height: 40px;
    border-radius: 25px;
    border: 0;
    background-color: #679b9b;
}